@media(min-width:1024px) {}

@media(min-width:768px) {
    .MenuBar {
        width: 347px;
    }
}

@media(min-width:480px) {
    .SubContainer1 {
        min-width: 480px;
    }

    .MenuBar {
        width: 347px;
    }

    .ButtomKayLable img {
        width: 180px;
        height: 180px;
    }
}

@media(min-width:320px) {
    .SubContainer1 {
        min-width: 320px;
    }

    .MenuBar {
        width: 320px;
    }

    .ButtomKayLable img {
        width: 160px;
        height: 160px;
    }
}