/* Адаптивные стили для уменьшения размера шрифта на меньших экранах */
@media (max-width: 1024px) {
    .DataLable h1 {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .DataLable h1 {
        font-size: 24px;

    }

    .DataLable p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .DataLable h1 {
        font-size: 20px;
    }

    .DataLable p {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .DataLable h1 {
        font-size: 18px;
    }

    .DataLable p {
        font-size: 12px;
    }
}