* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #000000, #2E0000);
    min-height: 100vh;
}

.UserContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 20vh;
}

.UserContent p {
    font-size: 16px;
}

.SubUserContent1,
.SubUserContent2,
.SubUserContent3 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 33.3vw;
}

.StoneContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 70vh;
}

.StoneContent h1 {
    font-size: 10vh;
}

.ButtonContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.SubButtonContent1,
.SubButtonContent2,
.SubButtonContent3 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 33.3vw;
}

.SubButtonContent2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}